:root {
  // Primary
  --color_p1: hsl(246, 80%, 60%);
  --color_p2: hsl(15, 100%, 70%);
  --color_p3: hsl(195, 74%, 62%);
  --color_p4: hsl(348, 100%, 68%);
  --color_p5: hsl(145, 58%, 55%);
  --color_p6: hsl(264, 64%, 52%);
  --color_p7: hsl(43, 84%, 65%);

  // Neutral
  --color_n1: hsl(226, 43%, 10%);
  --color_n2: hsl(235, 46%, 20%);
  --color_n3: hsl(235, 45%, 61%);
  --color_n4: hsl(236, 100%, 87%);
}