@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  --color_1: hsl(0, 78%, 62%);
  --color_2: hsl(180, 62%, 55%);
  --color_3: hsl(34, 97%, 64%);
  --color_4: hsl(212, 86%, 64%);
  --color_N1: hsl(234, 12%, 34%);
  --color_N2: hsl(229, 6%, 66%);
  --color_N3: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 18rem;
  margin: 0 auto;
  padding: 3rem 0;
  background-color: var(--color_N3);
}

body h1 {
  font-weight: 300;
  color: var(--color_N1);
  font-size: 23px;
}

body p {
  margin-top: 1rem;
  color: var(--color_N2);
}

.card {
  margin: 2rem auto 0 auto;
}

.card1 {
  border-top: 4px solid var(--color_2);
  border-radius: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 2px var(--color_2);
          box-shadow: 0 0 4px 2px var(--color_2);
  padding: 2rem;
  position: relative;
  height: 230px;
}

.card1 img {
  position: absolute;
  right: 25px;
}

.card2 {
  border-top: 4px solid var(--color_1);
  border-radius: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 2px var(--color_2);
          box-shadow: 0 0 4px 2px var(--color_2);
  padding: 2rem;
  position: relative;
  height: 230px;
}

.card2 img {
  position: absolute;
  right: 25px;
}

.card3 {
  border-top: 4px solid var(--color_3);
  border-radius: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 2px var(--color_2);
          box-shadow: 0 0 4px 2px var(--color_2);
  padding: 2rem;
  position: relative;
  height: 230px;
}

.card3 img {
  position: absolute;
  right: 25px;
}

.card4 {
  border-top: 4px solid var(--color_4);
  border-radius: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 2px var(--color_2);
          box-shadow: 0 0 4px 2px var(--color_2);
  padding: 2rem;
  position: relative;
  height: 230px;
}

.card4 img {
  position: absolute;
  right: 25px;
}

@media (min-width: 64rem) {
  body {
    width: 64rem;
    text-align: center;
  }
  body header {
    width: 600px;
    margin: 0 auto;
  }
  body header h1 {
    font-size: 35px;
  }
  body header p {
    font-size: 18px;
  }
  .card_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (100px)[4];
        grid-template-rows: repeat(4, 100px);
    gap: 30px;
    margin-top: 2rem;
  }
  .card_container h3 {
    text-align: left;
  }
  .card_container p {
    font-size: 14px;
    text-align: left;
    color: var(--color_N2);
  }
  .card_container img {
    margin: 1rem;
  }
  .card1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .card2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .card3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .card4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .attribution a:hover {
    color: blueviolet;
    font-weight: 600;
  }
}

.attribution {
  margin-top: 5rem;
  font-size: 18px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */