// STYLES START

// - RESET START

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// - RESET END

// - COLOR START

:root {
    // -- PRIMARY
    --color_p1: hsl(10, 79%, 65%);
    --color_p2: hsl(186, 34%, 60%);

    // -- Neutral

    --color_n1: hsl(25, 47%, 15%);
    --color_n2: hsl(28, 10%, 53%);
    --color_n3: hsl(27, 66%, 92%);
    --color_n4: hsl(33, 100%, 98%);
}

// - COLOR END

// - TYPOGRAPHY START

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--color_n3);
}

// - TYPOGRAPHY END

// STYLES END

// ATTRIBUTTION START

.attribution {
    margin-top: .5rem;
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }

}

// ATTRIBUTTION END


// MAIN START
main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card {
        min-width: 18rem;

        .myBalance {
            display: flex;
            background-color: var(--color_p1);
            padding: 1rem;
            justify-content: space-between;
            color: white;
            border-radius: 10px;

            div {
                margin-left: .5rem;
            }

            img {
                width: 60px;
                margin-right: .5rem;

            }
        }

        .card-body {
            background-color: var(--color_n4);
            margin-top: 1rem;
            border-radius: 8px;
            position: relative;

            h1 {
                font-size: 24px;
                padding: 1rem;
            }

            .square {
                height: 150px;
                margin: 0 auto;
                width: 90%;

                display: flex;

                li {
                    position: relative;
                    list-style: none;
                    width: 30px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;

                    span {
                        position: absolute;
                        bottom: 0;
                        font-size: 18px;

                    }

                    .bar {
                        position: absolute;
                        bottom: 25px;
                        background-color: var(--color_p1);
                        border-radius: 3px;


                    }



                }



            }



            .itemS {
                color: white;
                background: rgba($color: #000000, $alpha: 0.8);
                padding: .5rem .5rem;
                border-radius: 6px;
                z-index: 1;
                font-size: 15px;
                position: absolute;
                top: 60px;
                left: 15px;
            }


        }

        hr {
            width: 85%;
            margin: 1rem auto;
            background-color: var(--color_n2)
        }

        .total {
            height: 4.5rem;
            margin: 0 1rem 1rem 1rem;
            display: flex;
            justify-content: space-between;

            h2 {
                margin-top: .25rem;
            }

            position: relative;

            .last {
                text-align: right;
                position: absolute;
                bottom: 12px;
                right: 0;

                h2 {
                    font-size: 12px;
                }
            }
        }
    }
}


// MAIN END

// MQUERIES START

@media (min-width: 48rem) {
    main {
        width: 40rem;

        margin: 0 auto;

        .card {
            width: 24rem;
        }
    }
}

// MQUERIES END